.btn-custom {
    background-color: #366ef4;
    color:  #f5f5f5;
}
.btn-custom:disabled {
    background-color: #a1a5aa;
    color:  #0a0a0a;
}
.footer {
    bottom: 0;
    margin: auto;
    padding: 5px;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
body > .container {
    padding: 30px 15px 30px 30px;
}
.container .text-muted {
    margin: 20px 0;
}   